.topics-decoration {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.banner img {
    height: 100px;
    width: 100px;
}

img {
    width: 100%;
}

.page-decoration {
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
        url('../../Quiz.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 3%;
}

.banner {
    padding: 2%;
}

@media screen and (min-width: 350px) and (max-width: 720px) {
    .topics-decoration {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 721px) and (max-width: 1080px) {
    .topics-decoration {
        grid-template-columns: repeat(2, 1fr);
    }
}